numpy
torch
torchaudio
torchvision
soundfile
Cython
packaging
nemo-toolkit==2.3.0
huggingface_hub==0.32.0
pandas
scikit-learn
tqdm
fsspec<=2024.12.0
hydra-core
pytorch_lightning
requests
einops
lhotse
lightning
# transformer